<div class="row mt-4">
    <div class="col-md-4 mx-auto">
        
        <div class="card">

            <div class="alert bg-danger" *ngIf="!msg == ''">
                <span class="text-white text-center"> {{msg}} </span>
            </div>

            <div class="card-header">
                Login
            </div>
        </div>

        <div class="card-body">
            <form #seller="ngForm" (ngSubmit)="login(seller)">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="seller.nombre" name="nombre" placeholder="nombre" autofocus class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="seller.password" name="password" placeholder="password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Entrar</button>
            </form>

            <a  routerLink="/recoverSeller" class="text-center">¿Ha olvidado su clave?</a>
        </div>
    </div>
</div>